<!DOCTYPE html>

<!--Thymeleaf, ConfigFragment 선언-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="ConfigFragment">
<head>
  <!--Common Head-->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport"
        content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0"/>
  <title></title>

  <!--Common JS-->
  <script th:inline="javascript" type="text/javascript" th:src="@{/lib/jquery-3.6.1.min.js}"></script>
  <script th:inline="javascript" type="text/javascript" th:src="@{/lib/jquery-ui.min.js}"></script>

  <!--Common CSS -->
  <link th:inline="css" th:href="@{/lib/jquery-ui.min.css}" rel="stylesheet"/>
</head>
</html>
