<!DOCTYPE html>
<!-- Default Layout Import-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/loginLayout}">
<th:block layout:fragment="Content">
    <div class="login-layout">
        <div>
            <img src="" th:src="@{/images/logo.png}" alt="">
            <h1>SULSUL ADMIN</h1>
            <form action="/admin/login" method="post">
                <input type="text" name="username" placeholder="ID" required autofocus/>
                <input type="password" name="password" placeholder="PASSWORD" required/>
                <input type="submit" value="LOGIN">
            </form>
        </div>
    </div>
</th:block>
</html>
