<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}">

<th:block layout:fragment="Content">
    <section class="panel important">
        <h2>주류 상세</h2>
        <div class="detail-content">
            <div>
                <span>이름</span><span th:text="${beverage.korean}"></span>
            </div>
            <div>
                <span>용량(ml)</span><span th:text="${beverage.capacity}"></span>
            </div>
            <div>
                <span>한 병 당 잔 수</span><span th:text="${beverage.drinkPerBottle}"></span>
            </div>
        </div>
    </section>
</th:block>
</html>
