<!DOCTYPE html>
<!-- Default Layout Import-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}">

<th:block layout:fragment="Content">
    <section class="panel important">
        <h2>주류 목록</h2>
        <form action="" method="get">
            <label for=""></label>
            <select name="category" id="">
                <option value="" th:each="category: ${categories}" th:value="${category.name()}"
                        th:text="${category.getTitle()}"></option>
            </select>
            <label>
                <input type="text" name="search" placeholder="검색어를 입력해주세요.">
            </label>
            <input type="submit" value="검색">
        </form>
    </section>
    <section class="panel important">
        <h2>목록</h2>
        <table>
            <thead>
            <tr>
                <td>NO.</td>
                <td>카테고리</td>
                <td>이름</td>
                <td>용량(ml)</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="beverage: ${beverages}">
                <td th:text="${beverage.id}"></td>
                <td th:text="${beverage.category.title}"></td>
                <td><a href="" th:href="@{/admin/beverages/{id}(id=${beverage.id})}" th:text="${beverage.name}"></a>
                </td>
                <td th:text="|${beverage.capacity}ml|">ml</td>
                <td><a href="" th:href="@{/admin/beverages/{id}(id=${beverage.id})}">상세</a></td>
            </tr>
            </tbody>
        </table>
    </section>
</th:block>
</html>
